@charset "utf-8";

.header {
	.admin-bar & {
		top: 46px;
		position: absolute; 
		
		@include breakFirst(783px){
			top: 32px; 
		}
	}
	.disable-global & .menu-wrap {
		background-color: transparent;
		
		@include breakFirst(medium){
			height: 100px; 
		}
		
		.main-menu-wrap {
			top: 0;	
		}
<<<<<<< HEAD
=======
	}
	&.unit .logo {
		display: none;
		
		@include breakFirst(large){
			display: block;
		}	
	}
	&.unit .logo.mobile {
		display: block;
		
		@include breakFirst(large){
			display: none;
		}	
>>>>>>> develop
	}
}
.main-menu-wrap li:nth-child(odd) {
    background: $white;
}
