@charset "utf-8";

.header {
	.admin-bar & {
		top: 46px;
		position: absolute; 
		
		@include breakFirst(783px){
			top: 32px; 
		}
	}
}
.main-menu-wrap li:nth-child(odd) {
    background: $white;
}
.main-menu-wrap li {
	@include breakFirst(wide){
		//width: auto; 
	}
}