@charset "utf-8";

.header {
	.admin-bar & {
		top: 46px;
		position: absolute; 
		
		@include breakFirst(783px){
			top: 32px; 
		}
	}
}
.header.unit  {
	/*svg {
		fill: currentColor;
	}
	.LAS_Text {
		color: $blue;
	}*/
}