.landing-page-hero-full { 
	
	@include breakFirst(large){
		margin-top: 0px;
		margin-bottom: $grid-gutter-width*2;
	}
	
	.hero-img {
		h1 {
			text-shadow: 2px 3px 2px $grayDark;
			letter-spacing: 2px;
		}
	}
	
	/* Adds positioning for half hero image size */
	.hero-img-half {
		height: 225px;
		
		@include breakFirst(wide){
			height: 375px;
			background-position: center center;
		}
	}
}
.content-box-module {
    margin-top: $grid-gutter-width*2;
}

// Shortcode UI
.shortcode-ui-preview-fallback {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;	
}
