.widget-area {
	.home & {
		padding-top: $grid-gutter-width;
	}
    .home &.page-sections{
        padding-top: 0;
    }
	.home .footer-bottom & {
		padding-top: 0;
	}
}

.widget {
	margin-bottom: $grid-gutter-width;
	
	ul {
		margin-left: 0;
		
		li:before {
			content: normal;
		}
		li {
			margin-bottom: $grid-gutter-width;
			font-size: 16px;
		}
		a {
			font-weight: 400;
			letter-spacing: 1px;	
		}
		.post-date {
			display: block;	
		}
	}
	.widgettitle, .widget-title {
		text-transform: none;
		font: 500 24px/32px $serifFontFamily; 
		color: $blue;
	}
}

.widget-ufl-content-image-right {
    ul {
        margin-left: $grid-gutter-width;
        
        li {
            font-size: 100%;
            text-transform: none;
            margin-bottom: $grid-gutter-width/2;
        }
    }
}

.widget_archive, .widget_categories {
	select {
		width: 99%;
		border: 1px solid #999;
		padding: 7.5px;
	}
	label {
		text-indent: -999em;
		display: block;
		margin-bottom: -$grid-gutter-width;
	}
}

.widget_text {
	.footer-bottom & .textwidget {
		font-size: 16px;
		line-height: 24px;
		padding-right: $grid-gutter-width/2;
	}
}

.widget_listcategorypostswidget {
	li {
		text-transform: none;
		clear: both;
		overflow: auto;
		margin-bottom: $grid-gutter-width/2;
	}
	
	li > a {
		display: block;	
		float: left;
	}
	img {
		margin-right: $grid-gutter-width;
		margin-bottom: $grid-gutter-width/2;
	}
	h3 {
		font-family: $fontFamily;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: $grid-gutter-width/2;
		text-transform: uppercase;
		
		@include breakFirst(medium){
			font-size: 32px;
			line-height: 36px; 
		}
		
		a {
			font-weight: 700;	
		}
	}
}

