@charset "utf-8";

.header {
	.admin-bar & {
		top: 46px;
		position: absolute; 
		
		@include breakFirst(783px){
			top: 32px; 
		}
	}
	.disable-global & .menu-wrap {
		background-color: transparent;
		
		@include breakFirst(medium){
			height: 100px; 
		}
		
		.main-menu-wrap {
			top: 0;	
		}
	}
	&.unit .logo {
		display: none; 
		
		@include breakFirst(large){
			display: block;
		}	
	}
	&.unit .logo.mobile {
		display: block;
		
		@include breakFirst(large){
			display: none;
		}	
	}
}
.main-menu-wrap li:nth-child(odd) {
    background: $white;
}

.header-type-text .header.unit {
	.logo {
		@media screen and (min-width: $screen_md){
			height: 150px;
			width: 150px;
			background-color: #E47426;
			padding: 0;
		}
	}
	.logo-uf svg {
		width: 74px;
		height: 48px;
		position: absolute;
		top: 51px;
		left: 38px;
	}
	#global-menu-title {
		@media screen and (min-width: $screen_md){
			padding-left: 150px;
			padding-right: 15px;
		}
	}
	.main-menu-wrap {
		@media screen and (min-width: $screen_md){
			padding-left: 150px;
		}
	}
	.aux-menu-wrap {
		background-color: #00529b;
		
		@media screen and (min-width: $screen_md){
			padding-left: 0;
		}
	}
}