@charset "UTF-8";

@font-face {
    font-family: 'gentona';
    src: url('../fonts/rene_bieder_-_gentona_book_italic-webfont.eot');
    src: url('../fonts/rene_bieder_-_gentona_book_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_gentona_book_italic-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_gentona_book_italic-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_gentona_book_italic-webfont.svg#gentonabook_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'gentona';
    src: url('../fonts/rene_bieder_-_gentona_heavy-webfont.eot');
    src: url('../fonts/rene_bieder_-_gentona_heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_gentona_heavy-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_gentona_heavy-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_gentona_heavy-webfont.svg#gentonaheavy') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'quadon';
    src: url('../fonts/rene_bieder_-_quadon_medium-webfont.eot'); 
    src: url('../fonts/rene_bieder_-_quadon_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_quadon_medium-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_quadon_medium-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_quadon_medium-webfont.svg#quadon') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'quadon';
    src: url('../fonts/rene_bieder_-_quadon_extrabolditalic-webfont.eot');
    src: url('../fonts/rene_bieder_-_quadon_extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_quadon_extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_quadon_extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_quadon_extrabolditalic-webfont.svg#quadon') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'SurveyorText';
    src: url('../fonts/SurveyorText-Book-Pro.otf');
    src: url('../fonts/SurveyorText-Book-Pro.otf') format('opentype');
	font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SurveyorText';
    src: url('../fonts/SurveyorText-BookItalic-Pro.otf');
    src: url('../fonts/SurveyorText-BookItalic-Pro.otf') format('opentype');
	font-weight: 300;
    font-style: italic;
}