@charset "UTF-8";

.post-container {
	@media (min-width: 992px){
		width: 840px;
	}
	@media (min-width: 1200px){
		width: 840px;
	}
}

#main {
	@extend .post-container;
}

figcaption {
	font-family: $postSansFontFamily;
	font-weight: 300;
	font-style: italic;
	
	&.container {
		padding-left: 15px !important;
		padding-right: 15px !important;
		@extend .post-container;
	}
}

.entry-title {
	font-family: $postSansFontFamily;
	font-weight: 800;
	font-size: 36px;
	line-height: 36px;
	color: $postOrange;
	letter-spacing: 1px;
	text-transform: uppercase;	
}
.entry-content {
	font-family: $postBodyFontFamily;
	
	.byline {
		font-family: $postSansFontFamily;
		font-weight: 300;
		font-style: italic;
		font-size: 16px;
		line-height: 20px;
	}
	.quote {
		.quote-text {
			font-family: $postSerifFontFamily;	
		}
	}
	p {
		font-weight: 300;
		font-size: 17px;
		line-height: 24px;
	}
	li {
		list-style: none;
	}
	li:before {
		font-family: 'Glyphicons Halflings';
		content: "\e080";
	}
	.post-footer {
		@extend figcaption;
		color: $postGray;
		margin-top: 20px;
	}
}
.footer {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 60px;
	border-top: 5px ridge #eee;
	
	p {
		font-family: $postSansFontFamily;
		font-weight: 300;
		font-style: italic;
		color: $postGray;
		letter-spacing: .5px;
		font-size: 13px;
		line-height: 16.25px;
	}
	
	h6 {
		font-family: $postSansFontFamily;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 1px;
		font-size: 14px;
		line-height: 150%;
		color: $postOrange;
		margin-top: 30px;
	}
	
	img.img-responsive {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	
}