$postSansFontFamily:	"gentona", "Helvetica Neue", Helvetica, Arial, sans-serif;
$postSerifFontFamily:	"quadon", georgia, serif;
$postBodyFontFamily:	"SurveyorText", georgia, serif;
$postOrange:			#F04E23;
$postGray:				#999999;

